---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Carousel from "../../components/Carousel.astro";
import PageDescription from "../../components/PageDescription.astro";
import Breadcrump from "../../components/Breadcrump.astro";
---

<DefaultLayout title="Πλακάκια Μπάνιου" shouldHaveViewTransition={false}>
  <div class="layout-container">
    <Breadcrump category="Tiles" subcategory="Πλακάκια Μπάνιου" />

    <PageDescription
      title={"ΠΛΑΚΑΚΙΑ ΜΠΑΝΙΟΥ"}
      description={"Αναβαθμίστε το μπάνιο σας με πλακάκια υψηλής ποιότητας και στυλ. Επιλέξτε από μια εκλεπτυσμένη γκάμα σχεδίων και χρωμάτων."}
    />

    <Carousel
      images={[
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003942/bath-tiles-1_hu91v2.avif",
          alt: "Πλακάκια Μπάνιου",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003942/bath-tiles-2_j8cidv.avif",
          alt: "Πλακάκια Μπάνιου 2",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003942/bath-tiles-3_fedbm2.avif",
          alt: "Πλακάκια Μπάνιου 3",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003943/bath-tiles-4_wdaeqc.avif",
          alt: "Πλακάκια Μπάνιου 4",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003943/bath-tiles-5_x2slwt.avif",
          alt: "Πλακάκια Μπάνιου 5",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003943/bath-tiles-6_kgskea.avif",
          alt: "Πλακάκια Μπάνιου 6",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003943/bath-tiles-7_jfpnvc.avif",
          alt: "Πλακάκια Μπάνιου 7",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003943/bath-tiles-8_bj0dsa.avif",
          alt: "Πλακάκια Μπάνιου 8",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003943/bath-tiles-9_h2vbww.avif",
          alt: "Πλακάκια Μπάνιου 9",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003943/bath-tiles-10_gdthpz.avif",
          alt: "Πλακάκια Μπάνιου 10",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003943/bath-tiles-11_modysd.avif",
          alt: "Πλακάκια Μπάνιου 11",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003944/bath-tiles-12_wj4weh.avif",
          alt: "Πλακάκια Μπάνιου 12",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003944/bath-tiles-13_ixflpa.avif",
          alt: "Πλακάκια Μπάνιου 13",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003944/bath-tiles-14_jbaux7.avif",
          alt: "Πλακάκια Μπάνιου 14",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003944/bath-tiles-15_o5o6ni.avif",
          alt: "Πλακάκια Μπάνιου 15",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003944/bath-tiles-16_ycktza.avif",
          alt: "Πλακάκια Μπάνιου 16",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003944/bath-tiles-17_idtxqs.avif",
          alt: "Πλακάκια Μπάνιου 17",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003944/bath-tiles-18_drvtms.avif",
          alt: "Πλακάκια Μπάνιου 18",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003944/bath-tiles-19_gddwsu.avif",
          alt: "Πλακάκια Μπάνιου 19",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003945/bath-tiles-20_nj4sge.avif",
          alt: "Πλακάκια Μπάνιου 20",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003945/bath-tiles-21_wylrnr.avif",
          alt: "Πλακάκια Μπάνιου 21",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003945/bath-tiles-22_fphlha.avif",
          alt: "Πλακάκια Μπάνιου 22",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003945/bath-tiles-23_d3kqte.avif",
          alt: "Πλακάκια Μπάνιου 23",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003945/bath-tiles-24_c5b7iy.avif",
          alt: "Πλακάκια Μπάνιου 24",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003946/bath-tiles-26_jjkkgi.avif",
          alt: "Πλακάκια Μπάνιου 26",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003946/bath-tiles-27_x243xt.avif",
          alt: "Πλακάκια Μπάνιου 27",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003946/bath-tiles-28_h6cmxy.avif",
          alt: "Πλακάκια Μπάνιου 28",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003946/bath-tiles-29_dbgeqz.avif",
          alt: "Πλακάκια Μπάνιου 29",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003946/bath-tiles-30_byuhkq.avif",
          alt: "Πλακάκια Μπάνιου 30",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003946/bath-tiles-31_erkfi7.avif",
          alt: "Πλακάκια Μπάνιου 31",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003946/bath-tiles-32_wjapfi.avif",
          alt: "Πλακάκια Μπάνιου 32",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706003946/bath-tiles-33_fdox6a.avif",
          alt: "Πλακάκια Μπάνιου 33",
        },
      ]}
      ;
    />
  </div>
</DefaultLayout>
