---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Carousel from "../../components/Carousel.astro";
import PageDescription from "../../components/PageDescription.astro";
import Breadcrump from "../../components/Breadcrump.astro";
---

<DefaultLayout title="Πλακάκια Καθιστικού" shouldHaveViewTransition={false}>
  <div class="layout-container">
    <Breadcrump category="Tiles" subcategory="Πλακάκια Καθιστικού" />

    <PageDescription
      title={"ΠΛΑΚΑΚΙΑ ΚΑΘΙΣΤΙΚΟΥ"}
      description={"Αναβαθμίστε τον χώρο του καθιστικού σας με τα πιο όμορφα και προσεγμένα πλακάκια. Επιλέξτε ανάμεσα σε μια ποικιλία σχεδίων και χρωμάτων."}
    />

    <Carousel
      images={[
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000247/tiles-1_uijhqh.avif",
          alt: "Πλακάκια Καθιστικού",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000247/tiles-2_eyyqdl.avif",
          alt: "Πλακάκια Καθιστικού 2",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000247/tiles-3_aexk4h.avif",
          alt: "Πλακάκια Καθιστικού 3",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000248/tiles-4_puigyp.avif",
          alt: "Πλακάκια Καθιστικού 4",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000248/tiles-5_vrsuqe.avif",
          alt: "Πλακάκια Καθιστικού 5",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000248/tiles-6_ybjcvg.avif",
          alt: "Πλακάκια Καθιστικού 6",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000247/tiles-7_kl6ibq.avif",
          alt: "Πλακάκια Καθιστικού 7",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000248/tiles-8_yclijf.avif",
          alt: "Πλακάκια Καθιστικού 8",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000250/tiles-9_sxzz8c.avif",
          alt: "Πλακάκια Καθιστικού 9",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000247/tiles-10_gqxfvl.avif",
          alt: "Πλακάκια Καθιστικού 10",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000248/tiles-11_owfvyp.avif",
          alt: "Πλακάκια Καθιστικού 11",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000248/tiles-12_kbtjfg.avif",
          alt: "Πλακάκια Καθιστικού 12",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000248/tiles-13_mcuyxe.avif",
          alt: "Πλακάκια Καθιστικού 13",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000249/tiles-14_xxgz8l.avif",
          alt: "Πλακάκια Καθιστικού 14",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000249/tiles-15_w6wbmz.avif",
          alt: "Πλακάκια Καθιστικού 15",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000249/tiles-16_nrwkln.avif",
          alt: "Πλακάκια Καθιστικού 16",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000249/tiles-17_aqimje.avif",
          alt: "Πλακάκια Καθιστικού 17",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000249/tiles-18_gp7bvp.avif",
          alt: "Πλακάκια Καθιστικού 18",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000249/tiles-19_bjlqzv.avif",
          alt: "Πλακάκια Καθιστικού 19",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000250/tiles-20_kqjbxv.avif",
          alt: "Πλακάκια Καθιστικού 20",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1706000250/tiles-21_xkfugg.avif",
          alt: "Πλακάκια Καθιστικού 21",
        },
      ]}
      ;
    />
  </div>
</DefaultLayout>
