---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Carousel from "../components/Carousel.astro";
import PageDescription from "../components/PageDescription.astro";
---

<DefaultLayout title="Έργα" shouldHaveViewTransition={false}>
  <div class="layout-container">
    <PageDescription
      title={"ΕΡΓΑ"}
      description={"Εξερευνήστε τα έργα μας και δείτε τις δυνατότητες που σας προσφέρουμε."}
    />
    <Carousel
      images={[
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705932210/erga-1_rcycmh.avif",
          alt: "Erga",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935343/erga-2_pvo9zn.avif",
          alt: "Erga 2",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935343/erga-3_kbp82v.avif",
          alt: "Erga 3",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935343/erga-4_g98mtb.avif",
          alt: "Erga 4",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935344/erga-5_ead7cj.avif",
          alt: "Erga 5",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935344/erga-6_ymn3tl.avif",
          alt: "Erga 6",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935344/erga-7_g3msni.avif",
          alt: "Erga 7",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935344/erga-8_pnwsca.avif",
          alt: "Erga 8",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935344/erga-9_lqwodq.avif",
          alt: "Erga 9",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935344/erga-10_wbqj5i.avif",
          alt: "Erga 10",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935344/erga-11_wskbbq.avif",
          alt: "Erga 11",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935344/erga-12_iykno1.avif",
          alt: "Erga 12",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935344/erga-13_m3t6si.avif",
          alt: "Erga 13",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935345/erga-14_scmctc.avif",
          alt: "Erga 14",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935345/erga-15_pwzn6f.avif",
          alt: "Erga 15",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935345/erga-16_jwfkeb.avif",
          alt: "Erga 16",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935345/erga-17_wixs1s.avif",
          alt: "Erga 17",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935345/erga-18_ucbefn.avif",
          alt: "Erga 18",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935345/erga-19_ilohwl.avif",
          alt: "Erga 19",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935345/erga-20_q0e4le.avif",
          alt: "Erga 20",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935346/erga-21_co6yx9.avif",
          alt: "Erga 21",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935346/erga-22_llicre.avif",
          alt: "Erga 22",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935346/erga-23_x1dtu6.avif",
          alt: "Erga 23",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935347/erga-24_iijnxt.avif",
          alt: "Erga 24",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935347/erga-25_crh9z3.avif",
          alt: "Erga 25",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935347/erga-26_yfsjrq.avif",
          alt: "Erga 26",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935347/erga-27_idzb9t.avif",
          alt: "Erga 27",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935347/erga-28_yw5vg9.avif",
          alt: "Erga 28",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935347/erga-29_tnib8m.avif",
          alt: "Erga 29",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935347/erga-30_hgwnqf.avif",
          alt: "Erga 30",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935348/erga-31_whnj8k.avif",
          alt: "Erga 31",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935348/erga-32_ufogrb.avif",
          alt: "Erga 32",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935348/erga-33_gbbqu6.avif",
          alt: "Erga 33",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935348/erga-34_lfujhu.avif",
          alt: "Erga 34",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935348/erga-35_mypnat.avif",
          alt: "Erga 35",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935349/erga-36_shnhar.avif",
          alt: "Erga 36",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705935349/erga-37_y4qzfv.avif",
          alt: "Erga 37",
        },
      ]}
      ;
    />
  </div>
</DefaultLayout>
