---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import Feature from "../components/Feature.astro";
import Counter from "../components/Counter.astro";
import ContentMedia from "../components/ContentMedia.astro";
---

<DefaultLayout title="Αρχική">
  <Hero />
  <section class="my-40">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:shower" title="Μπάνιο" link="/bath">
          Αναζητήστε τα τελευταία τάσεις σε είδη υγιεινής και μπάνιου, με
          προσοχή στην αισθητική και τη λειτουργικότητα.
        </Feature>
        <Feature icon="mdi:grid" title="Πλακάκια" link="/tiles">
          Ανακαλύψτε πλήθος σχεδίων και υλικών σε πλακίδια, ιδανικά για κάθε
          στυλ και χώρο. Μοντέρνα, κλασικά, ή μίνιμαλ.
        </Feature>
        <Feature
          icon="mdi:countertop-outline"
          title="The Kitchen Studio"
          logo={true}
          imageUrl="https://res.cloudinary.com/dz7agxkip/image/upload/v1706006934/the-kitchen-studio-logo_wjvss2.avif"
        >
          Σε συνεργασία με το
          <a
            href="https://www.thekitchenstudio.gr"
            rel="external noopener"
            target="_blank"
          >
            The Kitchen Studio
          </a>
          σας προσφέρουμε τα καλύτερα προϊόντα και υλικά για την αναβάθμιση της κουζίνας
          σας.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia
    imgSrc="https://res.cloudinary.com/dz7agxkip/image/upload/v1705933400/showroom-1_fwqci6.webp"
    alt="Karadimas Showroom"
  >
    <h2>Showroom</h2>
    <p class="text-2xl">
      Tο <a href="/showroom">showroom</a> μας στη Γλυφάδα προσφέρει μία πλούσια γκάμα
      πλακιδίων και ειδών υγιεινής. Εδώ, θα ανακαλύψετε τις τελευταίες τάσεις στον
      κόσμο του μπάνιου, ενώ οι ειδικοί μας είναι πάντα διαθέσιμοι να σας προσφέρουν
      προσαρμοσμένες λύσεις και συμβουλές.
    </p>
  </ContentMedia>

  <ContentMedia
    imgSrc="https://res.cloudinary.com/dz7agxkip/image/upload/v1705932403/erga-1_xx5k9l.webp"
    reverseImg={true}
    alt="Karadimas Erga"
  >
    <h2>Έργα</h2>
    <p class="text-2xl">
      Η εμπειρία μας περιλαμβάνει τη δημιουργία εξατομικευμένων λύσεων για
      κατοικίες και επαγγελματικούς χώρους, αναδεικνύοντας την ξεχωριστή
      αισθητική και την ποιότητα των υλικών μας. Δείτε τα <a href="/erga"
        >έργα μας</a
      >.
    </p>
  </ContentMedia>
  <section class="mb-32 mt-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="1500" title="Πελάτες" sub="Ικανοποιημένοι" />
        <Counter count="30+" title="Χρόνια" sub="Εξειδίκευση" />
        <Counter count="500+" title="Προϊοντα" sub="Ετοιμοπαράδοτα" />
        <Counter count="4.6" title="Αστέρια" sub="Google reviews" />
      </div>
    </div>
  </section>
</DefaultLayout>
