---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import Feature from "../components/Feature.astro";
import Counter from "../components/Counter.astro";
import ContentMedia from "../components/ContentMedia.astro";
---

<DefaultLayout title="Αρχική">
  <Hero />
  <section class="my-40">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:shower" title="Μπάνιο" link="/bath">
          Αναζητήστε τα τελευταία τάσεις σε είδη υγιεινής και μπάνιου, με
          προσοχή στην αισθητική και τη λειτουργικότητα.
        </Feature>
        <Feature icon="mdi:grid" title="Πλακάκια" link="/tiles">
          Ανακαλύψτε πλήθος σχεδίων και υλικών σε πλακίδια, ιδανικά για κάθε
          στυλ και χώρο. Μοντέρνα, κλασικά, ή μίνιμαλ.
        </Feature>
        <Feature icon="mdi:truck-delivery" title="Άμεση Παράδοση">
          Εγγυημένη και γρήγορη παράδοση για όλες τις παραγγελίες. Η ασφάλεια
          και η ταχύτητα είναι προτεραιότητά μας.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia
    imgSrc="/images/karadimas-showroom-outdoor.avif"
    alt="Karadimas Showroom"
  >
    <h2>Showroom</h2>
    <p class="text-2xl">
      Tο <a href="/showroom">showroom</a> μας στη Γλυφάδα προσφέρει μία πλούσια γκάμα
      πλακιδίων και ειδών υγιεινής. Εδώ, θα ανακαλύψετε τις τελευταίες τάσεις στον
      κόσμο του μπάνιου, ενώ οι ειδικοί μας είναι πάντα διαθέσιμοι να σας προσφέρουν
      προσαρμοσμένες λύσεις και συμβουλές.
    </p>
  </ContentMedia>

  <!-- <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly
      content, aria-labels, keyboard accessible navigation and components, clear
      outlines and tab indicators and the right color contrast, you're more
      certain of reaching WCAG AA compliance.
    </p>
  </ContentMedia> -->
  <section class="mb-32 mt-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="1500" title="Πελάτες" sub="Ικανοποιημένοι" />
        <Counter count="30+" title="Χρόνια" sub="Εξειδίκευση" />
        <Counter count="500+" title="Προϊοντα" sub="Ετοιμοπαράδοτα" />
        <Counter count="4.6" title="Αστέρια" sub="Google reviews" />
      </div>
    </div>
  </section>
</DefaultLayout>
