---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Carousel from "../components/Carousel.astro";

import showroomImage from "../assets/img/showroom/showroom.avif";
import showroom2Image from "../assets/img/showroom/showroom-2.avif";
import showroom3Image from "../assets/img/showroom/showroom-3.avif";
import showroom4Image from "../assets/img/showroom/showroom-4.avif";
import showroom5Image from "../assets/img/showroom/showroom-5.avif";
---

<DefaultLayout title="Showroom" shouldHaveViewTransition={false}>
  <h1 class="mb-10 text-center">
    <slot>
      <span class="text-gradient">Showroom</span>
    </slot>
  </h1>
  <Carousel
    images = {[
      { src: showroomImage, alt: "Showroom Image" },
      { src: showroom2Image, alt: "Showroom Image 2" },
      { src: showroom3Image, alt: "Showroom Image 3" },
      { src: showroom4Image, alt: "Showroom Image 4" },
      { src: showroom5Image, alt: "Showroom Image 5" },
    ]};
  />
</DefaultLayout>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-500)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-400)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
