---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Carousel from "../components/Carousel.astro";
import PageDescription from "../components/PageDescription.astro";
---

<DefaultLayout title="Showroom" shouldHaveViewTransition={false}>
  <div class="layout-container">
    <PageDescription
      title={"SHOWROOM"}
      description={"Επισκεφθείτε το Showroom μας και αναζητήστε το ιδανικό μπάνιο ανάμεσα σε μια μεγάλη και μοναδική γκάμα υλικών."}
    />
    <Carousel
      images={[
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705599496/showroom_ebwlen.avif",
          alt: "Showroom Image",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705599567/showroom-2_keu3yp.avif",
          alt: "Showroom Image 2",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705599568/showroom-3_rdwlis.avif",
          alt: "Showroom Image 3",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705599568/showroom-4_jqi1bw.avif",
          alt: "Showroom Image 4",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705599568/showroom-5_uy71a2.avif",
          alt: "Showroom Image 5",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705599568/showroom-6_u1lnjz.avif",
          alt: "Showroom Image 6",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705599568/showroom-7_xyxabd.avif",
          alt: "Showroom Image 7",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705599569/showroom-8_uktrib.avif",
          alt: "Showroom Image 8",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705599569/showroom-9_ijqhqw.avif",
          alt: "Showroom Image 9",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705599569/showroom-10_p7wtto.avif",
          alt: "Showroom Image 10",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705599570/showroom-11_qehzcg.avif",
          alt: "Showroom Image 11",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705599570/showroom-12_fr2oqo.avif",
          alt: "Showroom Image 12",
        },
      ]}
      ;
    />
  </div>
</DefaultLayout>
