---
import { Icon } from "astro-icon/components";
---

<footer>
  <section class="py-8">
    <div
      class="container flex flex-col items-center justify-between md:flex-row"
    >
      <div>
        <span
          class="float-left mr-1.5 h-5 w-5 rounded-sm bg-[url(https://raw.githubusercontent.com/georgevgs/gv-portfolio/main/public/favicon.svg)] bg-cover md:-mt-0.5 md:h-6 md:w-6"
        ></span>
        Made by <a
          class="vagdas-link font-bold"
          href="https://vagdas.eu/"
          target="_blank"
          rel="noopener noreferrer"
        >
          VAGDAS
        </a>
        · All rights reserved.
      </div>
      <div class="flex">
        <a
          class="flex h-12 w-12 items-center justify-center rounded-lg p-2.5 text-sm hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
          aria-label="Instagram"
          href="https://www.instagram.com/thekitchenstudiogr/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="mdi:instagram" class="h-8 w-8" />
        </a>
        <a
          class="ml-2 flex h-12 w-12 items-center justify-center rounded-lg p-2.5 text-sm hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
          aria-label="Facebook"
          href="https://www.facebook.com/kitchenstudio/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="mdi:facebook" class="h-8 w-8" />
        </a>
      </div>
    </div>
  </section>
</footer>

<style>
  .vagdas-link {
    color: #f97316 !important;
    text-decoration: none;
  }
</style>
