---
import { Icon } from "astro-icon/components";
---

<footer class="bg-gray-100 dark:bg-gray-700">
  <section class="py-8">
    <div
      class="container mx-auto flex flex-col items-center justify-between space-y-6 md:flex-row md:space-y-0"
    >
      <div class="flex space-x-4">
        <a
          class="flex h-10 w-10 items-center justify-center rounded-full transition-colors"
          aria-label="Instagram"
          href="https://www.instagram.com/thekitchenstudiogr/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="mdi:instagram" class="h-8 w-8" />
        </a>
        <a
          class="flex h-10 w-10 items-center justify-center rounded-full transition-colors"
          aria-label="Facebook"
          href="https://www.facebook.com/kitchenstudio/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="mdi:facebook" class="h-8 w-8" />
        </a>
      </div>
      <div class="mt-6 text-center md:mt-0 md:text-right">
        <p class="text-md">
          Web magic by
          <a
            class="vagdas-link font-bold"
            href="https://vagdas.eu/"
            target="_blank"
            rel="noopener noreferrer"
          >
            VAGDAS
          </a>
        </p>
      </div>
    </div>
  </section>
</footer>

<style>
  .vagdas-link {
    color: #c2410c !important;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  .vagdas-link:hover {
    color: #78bf3b !important;
  }
</style>
