---
---

<section class="hero my-20">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-20 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="min-h-[150px] text-center text-6xl md:text-left lg:text-8xl">
          <slot>
            <span class="text-gradient">μπάνιο</span>
            <span class="text-gradient">κουζίνα</span>
            <span class="text-gradient">δάπεδο</span>
          </slot>
        </h1>
      </div>
      <img
        src="https://res.cloudinary.com/dz7agxkip/image/upload/v1705921380/karadimas-bath-hero-img_bkewnh.avif"
        alt="karadimas-bath"
        width="544"
        height="569"
        fetchpriority="high"
        loading="eager"
      />
    </div>
  </div>
</section>
