---
const title = Astro.props.title;
const description = Astro.props.description;
---

<section
  id="page-description"
  class="mx-auto max-w-screen-xl transform rounded-md p-8 shadow-sm transition-all duration-500 ease-in-out hover:scale-105 md:mb-8 md:mt-8"
>
  <h1 class="text-primary mb-4 text-4xl font-bold dark:text-orange-500">
    <slot>
      <span class="text-gradient">{title}</span>
    </slot>
  </h1>
  <h4 class="opacity-80">
    {description}
  </h4>
</section>
