---
const title = Astro.props.title;
const description = Astro.props.description;
---

<section
  id="page-description"
  class="mx-auto mb-8 mt-8 max-w-[1200px] rounded-b-lg border-t-4 border-custom-green p-4 shadow-sm dark:border-custom-cyan dark:bg-custom-dark"
>
  <h1
    class="mb-2 text-4xl font-bold tracking-wide text-custom-green text-gray-800 antialiased subpixel-antialiased dark:text-custom-cyan"
  >
    <slot>{title}</slot>
  </h1>
  <p class="text-md mb-4 text-gray-600 dark:text-gray-200">
    {description}
  </p>
</section>
