---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Carousel from "../../components/Carousel.astro";
import PageDescription from "../../components/PageDescription.astro";
import Breadcrump from "../../components/Breadcrump.astro";
---

<DefaultLayout title="Έπιπλα Μπάνιου" shouldHaveViewTransition={false}>
  <div class="layout-container">
    <Breadcrump category="Bath" subcategory="Έπιπλα Μπάνιου" />

    <PageDescription
      title={"ΕΠΙΠΛΑ ΜΠΑΝΙΟΥ"}
      description={"Ανακαλύψτε την πλούσια γκάμα επιλογών σε είδη υγιεινής που προσφέρουμε."}
    />

    <Carousel
      images={[
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955466/bath-furniture-1_h5joho.avif",
          alt: "Έπιπλα Μπάνιου",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955466/bath-furniture-2_aeuqak.avif",
          alt: "Έπιπλα Μπάνιου 2",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955467/bath-furniture-3_vhwhqd.avif",
          alt: "Έπιπλα Μπάνιου 3",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955467/bath-furniture-4_q5pan9.avif",
          alt: "Έπιπλα Μπάνιου 4",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955467/bath-furniture-5_qgvuhb.avif",
          alt: "Έπιπλα Μπάνιου 5",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955468/bath-furniture-6_x2isvs.avif",
          alt: "Έπιπλα Μπάνιου 6",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955469/bath-furniture-7_hzo7ew.avif",
          alt: "Έπιπλα Μπάνιου 7",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955524/bath-furniture-8_lnvcnj.avif",
          alt: "Έπιπλα Μπάνιου 8",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955619/bath-furniture-9_nfx4yg.avif",
          alt: "Έπιπλα Μπάνιου 9",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955651/bath-furniture-10_hdyo4s.avif",
          alt: "Έπιπλα Μπάνιου 10",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955652/bath-furniture-11_psmvjk.avif",
          alt: "Έπιπλα Μπάνιου 11",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955652/bath-furniture-12_ea2s0y.avif",
          alt: "Έπιπλα Μπάνιου 12",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955653/bath-furniture-13_apvg46.avif",
          alt: "Έπιπλα Μπάνιου 13",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705955654/bath-furniture-14_ibqatb.avif",
          alt: "Έπιπλα Μπάνιου 14",
        },
      ]}
      ;
    />
  </div>
</DefaultLayout>
