---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Carousel from "../../components/Carousel.astro";
import PageDescription from "../../components/PageDescription.astro";
import Breadcrump from "../../components/Breadcrump.astro";
---

<DefaultLayout title="Είδη Υγιεινής" shouldHaveViewTransition={false}>
  <div class="layout-container">
    <Breadcrump category="Bath" subcategory="Είδη Υγιεινής" />

    <PageDescription
      title={"ΕΙΔΗ ΥΓΙΕΙΝΗΣ"}
      description={"Εξερευνήστε την ποικιλία ειδών υγιεινής που διαθέτουμε."}
    />

    <Carousel
      images={[
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954101/sanitary-appliances-1_nc35nt.avif",
          alt: "Είδη Υγιεινής",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954101/sanitary-appliances-2_lhsuua.avif",
          alt: "Είδη Υγιεινής 2",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954101/sanitary-appliances-3_udjhli.avif",
          alt: "Είδη Υγιεινής 3",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954101/sanitary-appliances-4_pcgqmu.avif",
          alt: "Είδη Υγιεινής 4",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954102/sanitary-appliances-5_r5pcfd.avif",
          alt: "Είδη Υγιεινής 5",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954102/sanitary-appliances-6_g5vdkx.avif",
          alt: "Είδη Υγιεινής 6",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954102/sanitary-appliances-7_jn0kw4.avif",
          alt: "Είδη Υγιεινής 7",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954102/sanitary-appliances-8_pgximv.avif",
          alt: "Είδη Υγιεινής 8",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954102/sanitary-appliances-9_hz9atj.avif",
          alt: "Είδη Υγιεινής 9",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954102/sanitary-appliances-10_wmzgda.avif",
          alt: "Είδη Υγιεινής 10",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954102/sanitary-appliances-11_bhny2m.avif",
          alt: "Είδη Υγιεινής 11",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954102/sanitary-appliances-12_qqf8k9.avif",
          alt: "Είδη Υγιεινής 12",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705954102/sanitary-appliances-13_vadu0e.avif",
          alt: "Είδη Υγιεινής 13",
        },
      ]}
      ;
    />
  </div>
</DefaultLayout>
