---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Carousel from "../../components/Carousel.astro";
import PageDescription from "../../components/PageDescription.astro";
---

<DefaultLayout title="Νιπτήρες" shouldHaveViewTransition={false}>
  <div class="layout-container">
    <PageDescription
      title={"ΝΙΠΤΗΡΕΣ"}
      description={"Ανακαλύψτε την υψηλή ποιότητα και αισθητική στους νιπτήρες που προσφέρουμε."}
    />
    <Carousel
      images={[
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958910/sinks-1_wtdv4t.avif",
          alt: "Νιπτήρες",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958910/sinks-2_x2xsqg.avif",
          alt: "Νιπτήρες 2",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958910/sinks-3_pjpqr6.avif",
          alt: "Νιπτήρες 3",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958910/sinks-4_bc5lx8.avif",
          alt: "Νιπτήρες 4",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958911/sinks-5_wyf068.avif",
          alt: "Νιπτήρες 5",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958911/sinks-6_orez70.avif",
          alt: "Νιπτήρες 6",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958911/sinks-7_wltcet.avif",
          alt: "Νιπτήρες 7",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958911/sinks-8_a7quwz.avif",
          alt: "Νιπτήρες 8",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958911/sinks-9_zak4dq.avif",
          alt: "Νιπτήρες 9",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958911/sinks-10_ajadj7.avif",
          alt: "Νιπτήρες 10",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958911/sinks-11_f4kupi.avif",
          alt: "Νιπτήρες 11",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958912/sinks-12_kzqsmf.avif",
          alt: "Νιπτήρες 12",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958911/sinks-13_iw2w32.avif",
          alt: "Νιπτήρες 13",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958912/sinks-14_ioyeje.avif",
          alt: "Νιπτήρες 14",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958912/sinks-15_dvduim.avif",
          alt: "Νιπτήρες 15",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958912/sinks-16_r7qn5d.avif",
          alt: "Νιπτήρες 16",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958912/sinks-17_fksmm8.avif",
          alt: "Νιπτήρες 17",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958912/sinks-18_iusedb.avif",
          alt: "Νιπτήρες 18",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958912/sinks-19_djbce2.avif",
          alt: "Νιπτήρες 19",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958912/sinks-20_svwdky.avif",
          alt: "Νιπτήρες 20",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958912/sinks-21_woj7rf.avif",
          alt: "Νιπτήρες 21",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958913/sinks-22_ffsyoj.avif",
          alt: "Νιπτήρες 22",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958913/sinks-23_cfr9xy.avif",
          alt: "Νιπτήρες 23",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958913/sinks-24_n5bpml.avif",
          alt: "Νιπτήρες 24",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958913/sinks-25_b9y1xf.avif",
          alt: "Νιπτήρες 25",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958914/sinks-26_aao9sm.avif",
          alt: "Νιπτήρες 26",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958914/sinks-27_bpjpgc.avif",
          alt: "Νιπτήρες 27",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958914/sinks-28_ajvw38.avif",
          alt: "Νιπτήρες 28",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958914/sinks-29_pff8gf.avif",
          alt: "Νιπτήρες 29",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958914/sinks-30_t3pgrf.avif",
          alt: "Νιπτήρες 30",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958914/sinks-31_bbiiub.avif",
          alt: "Νιπτήρες 31",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958914/sinks-32_axv1my.avif",
          alt: "Νιπτήρες 32",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958914/sinks-33_tztteh.avif",
          alt: "Νιπτήρες 33",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958915/sinks-34_zbpclq.avif",
          alt: "Νιπτήρες 34",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705958915/sinks-35_qxbfjn.avif",
          alt: "Νιπτήρες 35",
        },
      ]}
      ;
    />
  </div>
</DefaultLayout>
