---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Carousel from "../../components/Carousel.astro";
import PageDescription from "../../components/PageDescription.astro";
---

<DefaultLayout title="Μπαταρίες Μπάνιου" shouldHaveViewTransition={false}>
  <div class="layout-container">
    <PageDescription
      title={"ΜΠΑΤΑΡΙΕΣ ΜΠΑΝΙΟΥ"}
      description={"Ανακαλύψτε την υψηλή ποιότητα και αισθητική στις μπαταρίες μπάνιου που προσφέρουμε."}
    />
    <Carousel
      images={[
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956977/taps-1_ruwwzg.avif",
          alt: "Μπαταρίες Μπάνιου",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956977/taps-2_xgivwn.avif",
          alt: "Μπαταρίες Μπάνιου 2",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956977/taps-3_fxsxpo.avif",
          alt: "Μπαταρίες Μπάνιου 3",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956977/taps-4_fat6ki.avif",
          alt: "Μπαταρίες Μπάνιου 4",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956978/taps-5_qnyj1f.avif",
          alt: "Μπαταρίες Μπάνιου 5",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956978/taps-6_wsq6eo.avif",
          alt: "Μπαταρίες Μπάνιου 6",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956978/taps-7_calfji.avif",
          alt: "Μπαταρίες Μπάνιου 7",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956978/taps-8_hw4b1m.avif",
          alt: "Μπαταρίες Μπάνιου 8",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956978/taps-9_oh5jad.avif",
          alt: "Μπαταρίες Μπάνιου 9",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956978/taps-10_ifc7ce.avif",
          alt: "Μπαταρίες Μπάνιου 10",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956978/taps-11_ieef6q.avif",
          alt: "Μπαταρίες Μπάνιου 11",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956978/taps-12_fhnccs.avif",
          alt: "Μπαταρίες Μπάνιου 12",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956978/taps-13_kgcimt.avif",
          alt: "Μπαταρίες Μπάνιου 13",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956978/taps-14_ukangy.avif",
          alt: "Μπαταρίες Μπάνιου 14",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956978/taps-15_kwvuyw.avif",
          alt: "Μπαταρίες Μπάνιου 15",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956979/taps-16_t3mcu7.avif",
          alt: "Μπαταρίες Μπάνιου 16",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956979/taps-17_sn6jnb.avif",
          alt: "Μπαταρίες Μπάνιου 17",
        },
        {
          src: "https://res.cloudinary.com/dz7agxkip/image/upload/v1705956979/taps-18_hhlaxi.avif",
          alt: "Μπαταρίες Μπάνιου 18",
        },
      ]}
      ;
    />
  </div>
</DefaultLayout>
